/* body {
    background-color: #d5a4bf;
}

.row {
    display: flex;
}

.col, .col-3 {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
}

.col-3 {
    flex-grow: 3;
} */
.sidenav .subheader {
    margin-top: 15px;
}

.radio-list {
    display: flex;
    line-height: 1;
    flex-direction: column;
    padding: 0 32px;
}

.radio-button {
    display: flex;
    padding: 5px 15px;
    margin: 5px 15px 0 0;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 1);
    cursor: pointer;
    font-size: 12px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.radio-button img {
    border-radius: 100%;
    margin-right: 6px;
}

.radio-button:hover, .radio-button.active {
    opacity: 1;
    color: rgba(0,0,0,0.7);
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 5px 5px 5px #000;
    font-weight: 600;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.range-wrapper {
    margin: 0;
    padding: 10px 0;
}
/* 
.z-top.position-absolute.left {
    width: 100%;  
}

.control-panel {  
    display: flex;
    justify-content: space-around;
} */
.colorPicker-wrap {
    margin: 10px 0 20px 0;
}

.divider {
    margin: 0 !important;
}