/* body {
    background-color: #d5a4bf;
}

.row {
    display: flex;
}

.col, .col-3 {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
}

.col-3 {
    flex-grow: 3;
} */

.sidenav {
    display: flex;
    height: auto !important;
    width: 100% !important;
    background-color: transparent !important;
    box-shadow: none !important;
    position: fixed !important;
    
    left: 0;
    top: 0;
    margin: 0;
    padding-bottom: 60px;
    z-index: 999;
    overflow-y: auto;
    will-change: transform;
    transform: translateX(0%) !important;
}

.control-head {    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.btn-floating {
    margin: 13px 16px;
}

.sidenav-overlay {
    opacity: 0 !important;
}

.viewer-wrap {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
}

.radio-wrapper {
    display: flex;
    margin: 5px 15px 0 0;
}

.radio-list {
    display: flex;
    line-height: 1;
    flex-direction: column;
    padding: 0 32px;
}

.radio-list label {
    margin-left: auto;
}

.radio-button {
    display: flex;
    padding: 5px 10px;
    margin: 0 0 5px 0;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 1);
    cursor: pointer;
    font-size: 10px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.radio-button img {
    border-radius: 100%;
    margin-right: 6px;
}

.radio-button:hover, .radio-button.active {
    opacity: 1;
    color: rgba(0,0,0,0.7);
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 5px 5px 5px #000;
    font-weight: 600;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.range-wrapper {
    margin: 0;
    padding: 10px 0;
}
/* 
.z-top.position-absolute.left {
    width: 100%;  
}

.control-panel {  
    display: flex;
    justify-content: space-around;
} */
.colorPicker-wrap {
    margin: 10px 0 20px 0;
}

.divider {
    margin: 0 !important;
}

[type="checkbox"]+span:not(.lever) {
    height: 18px !important;
    padding-left: 12px !important;
}

[type="checkbox"].filled-in+span:not(.lever):after {
    border-radius: 50px !important;
}

.sidenav-trigger {
    position: absolute !important;
    right: 0 !important;
}

.sidenav .subheader {
    font-size: 12px !important;
}